<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/d95f511298.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/formstyle.css">
</head>
<body>
    
    <div class="main-body">
        {{>navbar}}
        <div class="container">
            <div class="book-header">
                <p style="font-weight: bold; padding-bottom: 5px;">Booking Details</p>
                <p id="asd">sdsjh</p>
                <p class="log" style="border: 1px solid red; font-size: 14px; color:rgb(136, 135, 135); padding:5px;" ><a href="/login" style="color: blue;">Login</a> to book your package & more</p>
            </div>
            <form class="form" id="form" action="/booknow" method="post">
                <div class="form-control">
                    <label>Username</label>
                    <input type="text" placeholder="username" id="username" name="username" required>
                    <i class="fas fa-check-circle"></i>
                    <i class="fas fa-exclamation-circle"></i>
                    <small>Error Message</small>
                </div>
                <div class="form-control">
                    <label>Email</label>
                    <input type="email" placeholder="enter email" id="email" name="email" required>
                    <i class="fas fa-check-circle"></i>
                    <i class="fas fa-exclamation-circle"></i>
                    <small>Error Message</small>
                </div>
                <div class="form-control">
                    <label>Password</label>
                    <input type="password" placeholder="enter password" id="pass" name="password" required>
                    <i class="fas fa-check-circle"></i>
                    <i class="fas fa-exclamation-circle"></i>
                    <small>Error Message</small>
                </div>
                <div class="form-control">
                    <label>Proposed/Estimated Date</label>
                    <input type="date" placeholder="Phone no" name="date"  required>
                    <i class="fas fa-check-circle"></i>
                    <i class="fas fa-exclamation-circle"></i>
                    <small>Error Message</small>
                </div> 
                 <div class="category">
                    <label for="category"><b>Package Category</b><br>
                    <input type="radio" name="category" value="lucury" name="cat" checked>Lucury
                    <input type="radio" name="category" value="confort" name="cat">Confort
                    <input type="radio" name="category" value="standard" name="cat">Standard
                    <input type="radio" name="category" value="budget" name="cat">Budget
                </label>
                 <div class="category">
                    <label for="categories"><b>Vehicle Type</b><br>
                    <input type="radio" name="categories" value="lucury" name="cat" checked>Jeep
                    <input type="radio" name="categories" value="confort" name="cat">Bike
                    <input type="radio" name="categories" value="standard" name="cat">Bus
                    <input type="radio" name="categories" value="budget" name="cat">Car
                </label>
                </div>
                <div class="Adv-pay">
                    <label for="Adv-pay"><b>Advance Pay</b><br>
                    <input type="radio" name="Adv-pay" value="lucury" checked>40%
                    <input type="radio" name="Adv-pay" value="confort">60%
                    <input type="radio" name="Adv-pay" value="standard">100%
                </label> 
                </div>
                <button type="submit" value="submit" style="cursor: pointer;">Proceed to Pay</button>
                <button type="reset" id="s">Costumize</button>
            </form>
        </div>
    </div>
    <div class="book-footer">
        {{!-- {{>footer}}
    </div> --}}
    <script>
        
    </script>
    <script src="js/form.js"></script>
    <script src="js/packages.js"></script>
</body>
</html>