 <section class="footer">
        <h4>About Us</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, consectetur! Eligendi voluptatem cumque
            libero, nobis voluptates, neque id, <br> maxime perferendis temporibus cupiditate ipsa labore repellat sit
            corporis laborum! Sed, impedit.</p>
        <div class="icons">
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-facebook-messenger"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-linkedin"></i>
            <i class="fab fa-google"></i>
        </div>
        <p>Made with <i class="far fa-heart heart"></i> by <b>iTravel<b></p>
    </section> 