    <div class="header">
        <h1 class="logo">iTravel</h1>
        <nav class="navbar">
            <ul class="nav-list">
                <li><a class="nav-link home" href="/index">Home</a></li>
                <li><a class="nav-link" href="/about">About us</a></li>
                <li class="bc"><a class="nav-link" name="hero" href="/packages">Tour Packages</a>
                </li>
                <li><a class="nav-link" href="/gallery">Gallery</a></li>
                <li><a class="nav-link" href="#">Events</a></li>
                <li><a class="nav-link" href="/register">Sign Up</a></li>
                <li><a class="nav-link" href="/login">Login</a></li>
                <li><a class="nav-link" href="/contact">Contact Us</a></li>
                <li><a href="#">Chart</a></li>
            </ul>

        </nav>
        
        <div class="nav-btn">
            <i class="fas fa-bars navIcon" name="menu-btn"></i>
            <i class="far fa-window-close navIcon" name="close-btn"></i>
        </div>
    </div>